@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --color-primary: #10b981;
  --color-secondary: #0f766e;
}


@layer base {
  body {
    @apply bg-slate-50 text-slate-800 antialiased font-sans;
  }
}

.glass-panel {
  @apply bg-white/80 backdrop-blur-lg border border-white/20 shadow-xl rounded-2xl;
}
